extends layout


block content
  .container

      h3 60142341 조현진
      p 설문조사 Term Project
  
      h3 주요 기능
      
      ul
        li 
          a(href='/users') Users
        li
          a(href='/surveys') Surveys
          
        if (!currentUser) 
          li
            a(href='/signin') Signin
          li
            a(href='/users/new') Signup

        else
          li
            a(href='/users/#{currentUser._id}') Profile
          li
            a(href='/signout') Signout
            
            
