extends layout


block content
  .container

      h3 써베이 안떠영... 
      p 갸아아아악
  
      h3 주요 기능
      
      ul
        li 
          a(href='/users') Users
        li
          a(href='/surveys') Surveys
          
        if (!currentUser) 
          li
            a(href='/signin') Signin
          li
            a(href='/users/new') Signup

        else
          li
            a(href='/users/#{currentUser._id}') Profile
          li
            a(href='/signout') Signout
            
            
