extends ../../layout

block content
  .container

    h1.page-header 질문 수정

    form(action = "/surveys/#{survey.id}/#{question.id}/alter", method='POST')
    
      .form-group
        label(for='title') 질문 내용
        input.form-control(type='text', id='title', name='title', placeholder='title',value = )
      .form-group
        label(for='content') Content
        textarea.form-control(id='content', rows='10', name='content', placeholder='content here')

      div.form-actions
        a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
        | 
        button.btn.btn-primary(type='submit') 수정완료
